/* You can add global styles to this file, and also import other style files */
@import '_base.scss';
@import '_material.scss';

body,
html {
  min-height: 100%;
  height: 100%;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: $color-light;
}

a {
  color: $color-spotlight;
  transition: all 0.8s ease;

  &:hover {
    color: $color-base;
  }
}

.title {
  color: white;
  text-align: center;
  margin: 35px;
  font-family: 'Core-Sans-35-light';
  font-weight: 700;
}

.main-card {
  display: flex !important;
  justify-content: center;
}

.main-content {
  width: 80%;
}

@media screen and (max-width: 425px) {
  .main-content {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .main-card {
    padding: 0px;
  }
  .mat-header-cell {
    padding: 0px !important;
  }
}
