<h1 mat-dialog-title>Edit storage</h1>
<form mat-dialog-content [formGroup]="form" (submit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Storage name</mat-label>
    <input matInput placeholder="Storage name" formControlName="storage" />
    <mat-error *ngIf="form.controls.storage.invalid">
      <div *ngIf="form.controls.storage.errors.required">
        Required field
      </div>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Capacity</mat-label>
    <input
      type="number"
      matInput
      placeholder="Capacity"
      formControlName="max_capacity"
      (change)="checkCapacity()"
      [min]="0"
    />
    <mat-error *ngIf="form.controls.max_capacity.invalid">
      <span *ngIf="form.controls.max_capacity.errors.required">
        Required field
      </span>
      <span *ngIf="form.controls.max_capacity.errors.min">
        Value should be positive
      </span>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Product</mat-label>
    <mat-select placeholder="Product" formControlName="product">
      <mat-option *ngFor="let key of productKey" [value]="key">
        {{ productEnum[key] }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls.product.invalid">
      <div *ngIf="form.controls.product.errors.required">
        Required field
      </div>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input
      type="number"
      matInput
      placeholder="Amount"
      formControlName="product_amount"
      [max]="form.controls.max_capacity.value"
      [min]="0"
      (change)="checkCapacity()"
    />
    <mat-error *ngIf="form.controls.product_amount.invalid">
      <span *ngIf="form.controls.product_amount.errors.required">
        Required field
      </span>
      <span *ngIf="form.controls.product_amount.errors.min">
        Value should be positive
      </span>
      <span *ngIf="form.controls.product_amount.errors.max">
        Value should be lesser or equal to capacity
      </span>
    </mat-error>
  </mat-form-field>
</form>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button
    mat-raised-button
    (click)="onSubmit()"
    color="primary"
    cdkFocusInitial
  >
    Save
  </button>
</div>
